html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.test {
  color: green;
}

.field {

  .brick {
    background-color: #e7e5f8;
    border: 1px solid slategrey;
    width: 5px;
    height: 5px;
  }

  .brick.removed {
    background-color: #787785;
  }

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*------------------------------------ MEDIA ------------------*/
@import "media"; //always at the end